*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

img{
  display: flex;
  width: 80%;
  height: 100%;
}

a{
  text-decoration: none;
}

h1{
  font-family: 'Aboreto', cursive;
  font-size: 50px;
  color: Orange;
  background-color: hsla(0, 0%, 0%, 65%);
  padding: 20px;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 37%;
}

span{
  color: red;
}

h1:hover{
  color: red;
}

span:hover{
  color: orange;
}